[submodule "Git-Module"]
	path = Git-Module
	url = https://github.com/G-Okumu/Git-Module.git
[submodule "George-Repo"]
	path = George-Repo
	url = https://github.com/G-Okumu/Git-Module.git
[submodule "GeoBe"]
	path = GeoBe
	url = https://github.com/G-Okumu/Git-Module
[submodule "GeBoo"]
	path = GeBoo
	url = https://github.com/G-Okumu/Git-Module.git
[submodule "rock"]
	path = rock
	url = https://github.com/G-Okumu/Git-Module.git
